/* 下拉菜单 .dropwodn */
.dropdown {
    position: relative;
}

.dropdown > a:focus ~ .dropdown-box,
.dropdown .dropdown-box:hover:active {
    display: block;
}

.dropdown .dropdown-box {
    position: absolute;
    display: none;
    z-index: 99;
    top: 100%;
    left: 50%;
}

.dropdown-arrow {
    position: absolute;
    z-index: 100;
    top: -9px;
    left: -10px;
    border: 10px solid transparent;
    border-bottom-color: #fff;
    width: 0;
}

.dropdown ul {
    position: absolute;
    display: block;
    top: 10px;
    right: -40px;
    list-style: none;
    border: 1px solid #caccce;
    box-shadow: 0 1px 15px rgba(27, 31, 35, .15);
    background-color: #fff;
    border-radius: 4px;
    padding: 5px 0;
    min-width: 160px;
}

.dropdown ul > li {
    padding: 4px 16px;
    font-size: 14px;
    color: #3f4448;
    line-height: 1.5em;
    overflow: hidden;
    white-space: nowrap;
}

.dropdown ul > li:not(.unoptional):hover {
    color: #e1e4e8;
    background-color: #0366d6;
    cursor: pointer;
}

.dropdown ul > li.unoptional:hover {
    cursor: pointer;
}

.dropdown-divider {
    margin: 10px 0;
    border-top: 1px solid #e1e4e8;
}


/* 组合按钮 .btn-wrap */
.btn-wrap {
    display: inline-block;
    font-size: 0;
}

.btn-wrap > .left,
.btn-wrap > .left button {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.btn-wrap > .right,
.btn-wrap > .right button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.btn-wrap > a {
    display: inline-block;
    border: 1px solid rgba(27, 31, 35, .2);
    border-left: none;
    padding: 3px 10px;
    font-size: 14px;
    line-height: 20px;
    text-decoration-line: none;
}

/* button-dropdown */
.btn-dropdown {
    display: inline-block;
}

.btn-dropdown button {
    position: relative;
    border-radius: 3px;
}

.btn-dropdown button:after {
    display: inline-block;
    margin-left: 5px;
    width: 0;
    vertical-align: -2px;
    content: "";
    border: 4px solid transparent;
    border-top-color: currentcolor;
}

.btn-dropdown .dropmenu-modal {
    position: absolute;
    display: none;
    margin-top: 3px;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 3px;
    box-shadow: 0 3px 12px rgba(27, 31, 35, .15);
    min-width: 300px;
    background-color: #fff;
    background-clip: padding-box;
    font-size: 14px;
    z-index: 99;
}

.btn-dropdown > button:focus ~ .dropmenu-modal,
.btn-dropdown .dropmenu-modal:hover:active {
    display: block; /* 应该由程序实现 */
}

.btn-dropdown .dropmenu-head {
    border-bottom: 1px solid #e1e4e8;
    padding: 8px 12px;
    font-size: 14px;
    background: rgb(246, 248, 250);
    font-weight: 600;
}

.btn-dropdown .dropmenu-filters {
    background: rgb(246, 248, 250);
}

.btn-dropdown .dropmenu-filters > div {
    padding: 10px 10px 0;
}

.btn-dropdown .tabs-filter ul {
    list-style: none;
    display: flex;
    justify-content: left;
    font-size: 12px;
    font-weight: 600;
}

.btn-dropdown .tabs-filter li {
    padding: 4px 8px;
}

.btn-dropdown .tabs-filter li.active {
    position: relative;
    top: 1px;
    border: 1px solid #e1e4e8;
    border-bottom: none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: #fff;
}


.btn-dropdown .dropmenu-filters > div:last-child {
    border-bottom: 1px solid #dfe2e5;
}

.btn-dropdown .dropmenu-filters > .text-filter:last-child {
    padding: 10px;
}

.btn-dropdown .dropmenu-modal ul {
    list-style: none;
}

.btn-dropdown .dropmenu-list > * {
    display: block;
    padding: 10px 10px 10px 30px;
    line-height: 20px;
    box-sizing: border-box;
    cursor: pointer;
}

.btn-dropdown .dropmenu-list > *:hover {
    color: #fff;
    background: rgb(3, 102, 214);
}

.btn-dropdown .dropmenu-list > *:not(:last-child) {
    border-bottom: 1px solid #eaecef;
}

.btn-dropdown .dropmenu-list > li > svg {
    display: none;
}

/* Todo: 有待改进 */
.btn-dropdown .dropmenu-list > li.selected > svg {
    display: inline-block;
    margin-left: -16px;
}






